*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)); */
    background-position: center;
    background-size: center ;
}


.banner video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(50%);
}

.navbar {
    width: 100%;
    background-color: white;
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    justify-content: space-between;
}

.logo {
    
    margin-top: -10px;
    cursor: pointer;
    padding-left: 215px;
}

.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin: 20px;
    padding-right: 10px;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

ul li a:hover {

    color: orange;
}

.content {
    width: 100%;
    position: absolute;
    color: white;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}

.content h4{
    font-size: 32px;
    margin-top: 85px;
}

.content h1 {
    font-size: 90px;
    font-weight: 800;
    margin-top: 2px;
}

button {
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    border-radius: 25px;
    border: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    
}

button:hover {
    background-color:	rgb(239, 194, 70);
}

@media(min-aspect-ratio:16/9){
    .banner video {
        width: 100%;
        height: auto;
    }
}

#about {
    margin-top: 100px;
}

.ah {
    text-align: center;
    font-size: 28px;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    
}
.ah h3 {
    font-weight: 800;
}
.ah span {
    padding-left: 5px;
    color: orange;
}

.acontent {
    display: flex;
}
.ac {
    margin-top: 35px;
    width: 50%;
    padding-left: 215px;
}

.ac h4{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.ac p{
    padding-top: 15px;
    font-size: 19px;
    text-align: justify;
    color: rgb(173, 169, 169);
    font-weight: 100;
    font-family: 'PT Sans', sans-serif;
}

.ac h5 {
    padding-top: 15px;
    font-size: 17px;
    font-family: 'Varela Round', sans-serif;
}

.ac .ribg {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 15px;
}

.ribg h5 {
    font-size: 19px;
    font-weight: lighter;
}
.ac .ribg i {
    color: orange ;
    padding-right: 15px;
}

.abtn button {
    margin-left: 150px;
    margin-top: 15px;
    background-color: rgb(207, 202, 202);
    font-weight: lighter;
}

.abtn button:hover{
    background-color:	rgb(239, 194, 70);
}

.ai {
    padding-left: 100px;
}

 .ready {
    background-image: url(img/download.jpeg);
   background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: 25px;
}

.ready .rcontent {
    display: grid;
    grid-template-columns: auto auto;
}
.rcontent .rh h3 {
    font-size: 35px;
    font-weight: bolder;
    padding-top: 45px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

.rcontent .rh p {
    text-align: justify;
    padding-left: 175px;
    padding-top: 45px;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    width: 90%;
}

.rcontent .rb {
    padding-right: 45px;
    padding-top: 65px;
}
 
#service {
    margin-top: 100px;
    background-image: url(img/stock-photo-natural-recycled-paper-or-paperwork-closeup-of-wrinkle-texture-shiny-work-sheet-have-art-light-456279322.jpg);


    

}

.oh {
    text-align: center;
    font-size: 28px;
    font-family: 'Varela Round', sans-serif;
    padding-top: 25px;
    text-transform: uppercase;
    
}
.oh h3 {
    font-weight: 800;
}
.oh span {
    padding-left: 5px;
    color: orange;
}
.sc {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    padding-right: 175px;
    padding-left: 175px;
}
.sc .construction{
    margin-top: 45px;
    height: auto;
    width: auto;
    border: 1px solid rgb(183, 178, 178);
  
}
.sc i {
    padding-right: 15px;
}

.sc i:hover {
    color: orange ;
}

.sc h3 {
    font-size: 35px;
    padding: 15px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: black;
}

.sc p {
    padding: 15px;
    font-size: 20px;
    text-align: justify;
    font-family: 'PT Sans', sans-serif;
}

.hcpa {
    margin-top: 85px;
    background-image: url(img/counter-bg.jpg);
    height: 200px;
    display: flex;
    justify-content: space-between;
     padding-left: 175px;
     padding-top: 55px;
     padding-right: 100px;
   
}
.hcpa .happy i{
    color: white;
    margin-left: 20px;

}
.hcpa .code i{
    margin-left: 30px;
    color: white;
}
.hcpa .project i {
    margin-left: 40px;
    color: white;
}

.hcpa .awards i{
    color: white;
    margin-left: 17px;
}
.hcpa h3 {
    font-size: 35px;
    padding-top: 15px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

.hcpa p{
    font-size: 15px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    color: white;
}

#portfolio {
    margin-top: 45px;
}

.ph {
    text-align: center;
    font-size: 28px;
    font-family: 'Varela Round', sans-serif;
    padding-top: 25px;
    text-transform: uppercase;
    
}
.ph h3 {
    font-weight: 800;
}
.ph span {
    padding-left: 5px;
    color: orange;
}

.pc {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 145px;
    margin-right: 175px;
    margin-top: 45px;
    gap: 45px;
    
}

.text h6{
    color: blueviolet;
    font-weight: bolder;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 32px;
    padding-left:175px;


  }

  .aa {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  .image {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
  
  }
  .pc1 {
    position: relative;
    width: 50%;
  }  
  
  .pc1:hover .image {
    opacity: 0.3;
  }
  
  .pc1:hover .aa {
    opacity: 1;
  }

  .tc {
    margin-top: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  
  .tc .th h3{
    color: white;
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    padding-top: 105px;
    text-align: center;
  }
.tc .testi {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 150px;
    margin-right: 120px;
}

.testi1 {
   
    margin-top: 75px;
    width: 550px;
    height: 220px;
    color: white;
    border: 1px solid white;
}

.testi p {
    text-align: justify;
    padding: 25px;
    font-size: 20px;
}

.testi h6 {
    text-align: end;
    margin-right: 15px;
    font-size: 22px;
    color: orange;
}
#team {
    margin-top: 35px;
}
.teamc{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin-left: 175px;
    margin-right: 120px;
    margin-top: 55px;
}

.teamc1 {
    background-color: gray;
    width: fit-content;
    position: relative;
}
.teamc1 h3,h5{
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
   text-align: center;
   color: white;
}

.toverlay {
    position: absolute;
    bottom: 0px;
    top: 270px;
    display: none;
    overflow: hidden;

    transition: .5s ease;
  }

  .teamc1:hover .toverlay  {    
    background-color: orange;
    bottom: 0;
    height: 57px;
    width: 269px;
    display: block;
  }


  .toverlay i {
    color: white;
  }
  /* .toverlay i:hover {
    color: darkmagenta;
  } */

  .fa-facebook:hover {
    color: #3b5998;
}


.fa-instagram:hover{
color: #d6249f;

}

.fa-linkedin:hover {
    color:#0A66C2;
}

.fa-twitter:hover {
    color:#00acee;
}

#contactus{
    margin-top: 85px;
    background-image: url(img/contact-bg.jpg);
  
}

.ch {
    text-align: center;
    font-size: 28px;
    font-family: 'Varela Round', sans-serif;
    padding-top: 25px;
    text-transform: uppercase;
    
}
.ch h3 {
    font-weight: 800;
    color: white;
}
.ch span {
    padding-left: 5px;
    color: orange;
}

input{
    width: 300px;
    height: 50px;
    margin-top: 25px;
    margin-left: 25px;
    text-align: start;
}

textarea {
    padding-top: 25px;
    margin-top: 25px;
   
}

input,textarea{
    border-radius: 5px;
    border: none;
}

footer {
    background-color: lightgray;
    width: 100%;
    font-family: 'Varela Round', sans-serif;
    height: 275px;

}

footer .main {

    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
}

.flogo,.link,.link2 {
    margin-top: 85px;
  
}
.flogo {
    padding-left: 80px;
}
.link a,.link2 a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.link h3 {
    
    padding-left: 135px;

}
.link ul {
    list-style-type: none;
    padding-left: 140px;
    line-height: 24px;
    text-align: center;
}
.link2 p,h3{
    text-align: center;
  
    line-height: 24px;
}

.link2 a:hover {
    color: orange;
}
.link3 {
    padding-left: 75px;
    padding-top: 5px;
   
}
.social {
    margin-top: 85px;
}
.social a{
    color: black;
}
/* .social input {
    margin-left: 2px;
}
.social button {
    width: 150px;
    height: 50px;
} */